@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mgql1y');
  src:  url('fonts/icomoon.eot?mgql1y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mgql1y') format('truetype'),
    url('fonts/icomoon.woff?mgql1y') format('woff'),
    url('fonts/icomoon.svg?mgql1y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner11:before {
  content: "\e984";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
