.container {
  width: 90vw;
  margin: 10px auto;
  padding: 0 15px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 1px 1px 6px 0px rgba(204, 204, 204, 1);
  box-shadow: 1px 1px 6px 0px rgba(204, 204, 204, 1);  
}

.row {
  display: flex;
  flex-flow: column;
  padding: 15px 15px;
}

.row [class|="grid-item"] {
  display: flex;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .row {
    flex-flow: row wrap;
    flex-basis: 100%;
    align-items: flex-end;
  }
  .row [class|="grid-item"] {
    max-width: calc(100% / 2);
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1140px;
  }
  .row .grid-item-1 {
    max-width: calc(100% / 6);
  }
  .row .grid-item-2 {
    max-width: calc((100% / 6) * 2);
  }
  .row .grid-item-3 {
    max-width: calc((100% / 6) * 3);
  }
  .row .grid-item-4 {
    max-width: calc((100% / 6) * 4);
  }
  .row .grid-item-5 {
    max-width: calc((100% / 6) * 5);
  }
  .row .grid-item-6 {
    max-width: 100%;
  }
}
