* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Source Sans Pro";
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased !important;
  background: rgba(204, 204, 204, 0.013);
}
